@use "../../styles/mediaQueryMixin";

body {
  background-color: rgb(0, 13, 45);
}

.IndexContainer {
  min-height: 100vh;
  line-height: 2;
  color: white;
  position: relative;
  z-index: 1;
  padding: 0 14px;
  flex-direction: column;
  @include mediaQueryMixin.upper-pad {
    font-size: 20px;
  }
  @include mediaQueryMixin.under-pad {
    font-size: 12px;
  }
}

.Canvas {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  height: 100vh !important;
  width: 100vw !important;
}

.container {
}
