@use "../../styles/mediaQueryMixin";

.LiGame {
  display: flex;
  align-items: center;
  @include mediaQueryMixin.upper-pad {
    margin-top: 20vh;
    flex-direction: row;
  }
  @include mediaQueryMixin.under-pad {
    margin-top: 25vh;
    flex-direction: column;
  }

  // border: 1px dashed red;
}

.box__img {
  display: inline-block;
  position: relative;
  img {
    opacity: 0;
    width: 100%;
    object-fit: contain;
  }
}

.box__view_target {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 100%;
  pointer-events: none;
  @include mediaQueryMixin.upper-pad {
    height: 200vh;
  }
  @include mediaQueryMixin.under-pad {
    height: 180vh;
  }
  // border: 1px dashed rgba(gold, 0.3);
}

.LiGame__right {
  @include mediaQueryMixin.upper-pad {
    justify-content: flex-end;
    .box__img {
      order: 2;
    }

    .box__description {
    }

    .box__info {
      align-items: flex-end;
    }
  }
}

.box__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include mediaQueryMixin.upper-pad {
    max-width: 40vw;
    margin: 0 2rem;
  }
  @include mediaQueryMixin.under-pad {
    align-items: center;
    margin-top: 1rem;
  }
}

.box__description {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  position: relative;
  @include mediaQueryMixin.upper-pad {
    h2 {
      font-size: 2rem;
    }
  }
  @include mediaQueryMixin.under-pad {
    h2 {
      font-size: 1.5rem;
    }
  }
}

.btn__submit {
  margin-top: 1rem;
  @include mediaQueryMixin.upper-pad {
    font-size: 1.5rem;
  }
  @include mediaQueryMixin.under-pad {
    font-size: 1rem;
  }
}

.box__desc {
  display: flex;
  align-items: center;
  @include mediaQueryMixin.upper-pad {
    flex-direction: row;
  }
  @include mediaQueryMixin.under-pad {
    flex-direction: column;
  }
}

.img__user {
  width: 5rem;
  border-radius: 50%;
  filter: grayscale(1);
  @include mediaQueryMixin.upper-pad {
    position: absolute;
    left: 0;
    transform: translateX(-110%);
  }
  @include mediaQueryMixin.under-pad {
    margin-bottom: 1rem;
  }
}

.p {
  @include mediaQueryMixin.upper-pad {
  }
  @include mediaQueryMixin.under-pad {
    font-size: 16px;
  }
}
